@import './partials/resets';
@import './partials/variables';

@mixin textType($type) {
  @if $type == 'serif' {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
  } @else {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
  }
}

body {
  background-color: $bg-color;
  position: relative;
  height: 100vh;
}

.card {
  background-color: $card-bg-color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 600px;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// preview
.preview {
  max-width: 50%;
  flex-grow: 1;
}

.preview .product {
  width: 100%;
  height: 100%;
}

// content
.card > .content {
  max-width: 50%;
  flex-grow: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .type {
    @include textType('sans');
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $primary-light;
  }

  .name {
    @include textType('serif');
    font-size: 32px;
    line-height: 32px;
    color: $primary-dark; 
  }

  .description {
    @include textType('sans');
    font-size: 14px;
    line-height: 23px;
    color: $primary-light;
  }

  .button {
    width: 236px;
    height: 48px;
    background-color: $accent;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;

  .current {
    @include textType('serif');
    font-size: 32px;
    line-height: 32px;
    color: $accent;
  }

  .original {
    @include textType('sans');
    font-size: 13px;
    line-height: 23px;
    text-decoration: line-through;
    color: $primary-light;
  }
}

// button
.button .text {
  @include textType('sans');
  color: $card-bg-color;
}